<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="moe.chionlab.wechatmomentstat">

    <uses-permission android:name="android.permission.ACCESS_SUPERUSER" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".gui.MymainActivity"
            android:label="微信助手"

            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".gui.LoginActivity"
            android:label="@string/app_name">

        </activity>
        <activity android:name=".gui.MainActivity"/>
        <activity android:name=".gui.Fm1UploadActivity"></activity>
        <activity android:name=".gui.NewkeywordActivity"></activity>
        <activity android:name=".gui.Fm3AddActivity"></activity>
        <service android:name=".Model.UpdataService"></service>


    </application>

</manifest>
